header{
  background-color:#2D3B45;
  margin-top:0px;
}
section{
  display:flex inline;
}

div{
  padding:10px;
  margin:40px;
}

body{
  background-color:rgb(176, 169, 154);
}

h1{
  color:rgb(10, 10, 102);
}

#btn{
  background-color:orange;
  padding:20px;
}

#header2{
  background-color:#2D3B45;
}

#main{
  background-color:rgb(219, 208, 208);
  width:430px ;
  height: 517px;
}

img{
  size:10%
}

ul{
  list-style: none
}