header{
  background-color:#2D3B45;
  margin-top:0px;
}
section{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}

div{
  padding:20px;
  margin:40px;
  margin-bottom:20px;
}

body{
  background-color:rgb(176, 169, 154);
}

h1{
  color:rgb(10, 10, 102);
}

button{
  background-color:orange;
  padding:20px;
}

#header2{
  background-color:#2D3B45;
}

#main{
  background-color:rgb(219, 208, 208);
  border:40px;
}

img{
  size:10%
}

ul{
  list-style: none;
}